[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyter = "*"
notebook = "*"
Sphinx = "*"

[packages]
astroid = "*"
biopython = "*"
codecov = "*"
cryptography = "*"
Django = "*"
django-cors-headers = "*"
django-heroku = "*"
django-webpack-loader = "*"
djangorestframework = "*"
doc8 = "*"
gunicorn = "*"
isort = "*"
Jinja2 = "*"
mccabe = "*"
numpy = "*"
pandas = "*"
percy-python-selenium = "*"
PyJWT = "*"
python-dotenv = "*"
python-jose = "*"
semver = "*"
tabulate = "*"
termcolor = "*"

[requires]
python_version = "3.7"
