{% extends 'sdm/layout.html.jinja2' %}

{% block title %}
    Home
{% endblock %}


{% block body %}

<!-- LRT Station -->
<div class="container" id="app">
    <a href="{{ url('design') }}"><button class="btn btn-blue-grey btn-rounded" style="margin-top: 30px">Back</button></a>
    <form id="form" class="text-center border border-light p-5" method="post">
        <h1 class="h1-responsive">Primer Characterization</h1>
        <div class="md-form md-outline">
            <textarea id="sequence" class="form-control md-textarea " maxlength="20000" rows="3" autofocus></textarea>
            <label for="sequence">Enter DNA sequence</label>
            <div class="row">
                <div class="col">
                    <div class="text-left">
                        <small class="blue-grey-text" id="cursorposition">1</small>
                    </div>
                </div>
                <div class="col">
                    <div class="text-right">
                        <small class="blue-grey-text" id="counter">0/20000</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="md-form md-outline">
            <input type="number" id="mismatch" class="form-control" min=0 required />
            <label for="mismatch">Mismatched bases</label>
        </div>
        <div class="md-form">
            <select class="browser-default custom-select" id="mut_type" required>
                <option selected value="" disabled>Mutation type</option>
                <option value="sub">Substitution</option>
                <option value="ins">Insertion</option>
                <option value="del">Deletion</option>
            </select>
        </div>
        <input type="reset" class="btn btn-blue-grey btn-rounded" value="Reset" />
        <input type="submit" class="btn btn-indigo btn-rounded disabled" value="Submit" id="submit">
    </form>
</div>

<script src="{{ static('sdm/js/characterize.js') }}"></script>

{% endblock %}
