{% extends 'sdm/layout.html.jinja2' %}

{% block title %}
    Home
{% endblock %}


{% block body %}

<!-- LRT Station -->
<div class="container" id="app">
    <a href="{{ url('design') }}"><button class="btn btn-blue-grey btn-rounded" style="margin-top: 30px">Back</button></a>
    <form id="form" class="text-center border border-light p-5" method="post">
        <div class="md-form md-outline">
            <textarea id="sequence" class="form-control md-textarea " maxlength="20000" rows="3"></textarea>
            <label for="sequence">Enter DNA sequence</label>
            <div class="row">
                <div class="col">
                    <div class="text-left">
                        <small class="blue-grey-text" id="cursorposition">1</small>
                    </div>
                </div>
                <div class="col">
                    <div class="text-right">
                        <small class="blue-grey-text" id="counter">0/20000</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="md-form md-outline">
                    <input type="text" id="target" class="form-control" required />
                    <label for="target">Target</label>
                </div>
            </div>
            <div class="col">
                <div class="md-form md-outline">
                    <input type="number" id="position" class="form-control" min="1" required />
                    <label for="target">Position</label>
                </div>
            </div>
            <div class="col">
                <div class="md-form md-outline">
                    <input type="text" id="replacement" class="form-control" required />
                    <label for="target">Replacement</label>
                </div>
            </div>
        </div>
        <div class="md-form">
            <select class="browser-default custom-select" id="mut_type" required>
                <option selected value="" disabled>Mutation type</option>
                <option value="sub">Substitution</option>
                <option value="ins">Insertion</option>
                <option value="del">Deletion</option>
            </select>
        </div>
        <div class="accordion my-3" id="accordionAdvanced">
            <div class="card z-depth-0 bordered">
                <div class="card-header" id="headingAdvanced">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#advanced" aria-expanded="true" aria-controls="advanced">
                            Advanced settings
                        </button>
                    </h5>
                </div>
                <div id="advanced" class="collapse" aria-labelledby="headingAdvanced" data-parent="#accordionAdvanced">
                    <div class="card-body">
                        <div class="row">
                            <div class="col"></div>
                            <div class="col">Min</div>
                            <div class="col">Max</div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Melting point (&#8451;)
                            </div>
                            <div class="col">
                                <div class="md-outline">
                                    <input type="number" id="Tm_range_min" class="form-control" value="75" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-outline">
                                    <input type="number" id="Tm_range_max" class="form-control" value="85" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                GC Content (%)
                            </div>
                            <div class="col">
                                <div class="md-outline">
                                    <input type="number" id="gc_range_min" class="form-control" value="40" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-outline">
                                    <input type="number" id="gc_range_max" class="form-control" value="60" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                Length (bp)
                            </div>
                            <div class="col">
                                <div class="md-outline">
                                    <input type="number" id="length_min" class="form-control" value="25" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-outline">
                                    <input type="number" id="length_max" class="form-control" value="45" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                5' flanking region (bp)
                            </div>
                            <div class="col">
                                <div class="md-outline">
                                    <input type="number" id="flank5_range_min" class="form-control" value="11" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-outline">
                                    <input type="number" id="flank5_range_max" class="form-control" value="21" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                3' flanking region (bp)
                            </div>
                            <div class="col">
                                <div class="md-outline">
                                    <input type="number" id="flank3_range_min" class="form-control" value="11" />
                                </div>
                            </div>
                            <div class="col">
                                <div class="md-outline">
                                    <input type="number" id="flank3_range_max" class="form-control" value="21" />
                                </div>
                            </div>
                        </div>
                        <div class="custom-control custom-checkbox text-left">
                            <input type="checkbox" class="custom-control-input" id="terminate_gc" checked>
                            <label class="custom-control-label" for="terminate_gc">Terminates in G/C</label>
                        </div>
                        <div class="custom-control custom-checkbox text-left">
                            <input type="checkbox" class="custom-control-input" id="center_mutation" checked>
                            <label class="custom-control-label" for="center_mutation">Mutation at center of primer</label>
                        </div>
                        <select class="browser-default custom-select" id="primer_mode">
                            <option value="complementary" selected>Complementary</option>
                            <option value="overlapping">Overlapping</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <input type="reset" class="btn btn-blue-grey btn-rounded" value="Reset" />
        <input type="submit" class="btn btn-indigo btn-rounded disabled" value="Submit" id="submit">
    </form>
</div>

<script src="{{ static('sdm/js/dna.js') }}"></script>

{% endblock %}
