{% extends "sdm/layout.html.j2" %}

{% block title %}
    {{ html_title }}
{% endblock %}

{% block body %}
    <div class="jumbotron text-center blue-grey lighten-5 mb-5">
        <h1 class="card-title h1-responsive">PrimerDriver</h1>
        <p class="indigo-text my-4 font-weight-bold">{{ lipsum(1, False, 10, 11) }}</p>
        <div class="row d-flex justify-content-center">
            <div class="col-xl-7 pb-2">
                <p class="card-text">
                    {{ lipsum(1, False, 75, 76) }}
                    <br /><br />
                    Click on one of the tasks below to get started:
                </p>
            </div>
        </div>
        <hr />
        <div class="pt-2">
            <button type="button" class="btn btn-indigo btn-rounded">DNA-based</button>
            <button type="button" class="btn btn-indigo btn-rounded">Protein-based</button>
            <button type="button" class="btn btn-indigo btn-rounded">Characterization</button>
        </div>
    </div>
{% endblock %}
