{% extends 'sdm/layout.html.j2' %}

{% block title %}
    Home
{% endblock %}


{% block body %}

<!-- LRT Station -->
<div class="container" id="app">
    <form class="text-center border border-light p-5" action="#!">
        <div class="md-form">
            <textarea id="sequence" class="form-control md-textarea" length="20000" rows="3" required></textarea>
            <label for="sequence">Enter DNA sequence</label>
        </div>
        <div class="row">
            <div class="col">
                <div class="md-form">
                    <input type="number" id="mismatch" class="form-control" required />
                    <label for="mismatch">Mismatched bases</label>
                </div>
            </div>
            <div class="col">
                <div class="md-form">
                    <select class="browser-default custom-select" required>
                        <option selected>Mutation type</option>
                        <option value="sub">Substitution</option>
                        <option value="ins">Insertion</option>
                        <option value="del">Deletion</option>
                    </select>
                </div>
            </div>
        </div>
        <a href="#"><button type="button" class="btn btn-indigo btn-rounded">Next</button></a>
    </form>
</div>

<script src="{{ static('sdm/js/train.js') }}"></script>
<script src="{{ static('sdm/js/main.js') }}"></script>

{% endblock %}