{% extends 'sdm/layout.html.j2' %}

{% block title %}
    Home
{% endblock %}


{% block body %}

<!-- LRT Station -->
<div class="container">
    <div class="accordion" id="LRTstation">
        <div class="card z-depth-0 bordered">
            <div class="card-header" id="head-characterize">
                <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#characterize" aria-expanded="true" aria-controls="characterize">
                        Primer Characterization
                    </button>
                </h5>
            </div>
            <div id="characterize" class="collapse show" aria-labelledby="head-characterize" data-parent="LRTstation">
                <div class="card-body">
                    ROFLMAO
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ static('sdm/js/train.js') }}"></script>
<script src="{{ static('sdm/js/main.js') }}"></script>

{% endblock %}